*{
    margin: 0;
    padding: 0;
}
@mixin Center {
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    background-color: unset;
    cursor: pointer;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.Container{
    display: flex;
    height: 100vh;
    width: 100%;
}
/* Header */
.Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: calc(100% - 40px);
    width: 100px;
    border: 1px solid #dadada;
    img{
        height: 50px;
        width: 50px;
    }
}
.HeaderCenter{
    @include Center;
    flex-direction: column;
    width: 100%;
}
.HeaderButton{
    @include Center;
    height: 60px;
    position: relative;
    width: 100%
}
.HeaderButtonClick{
    @include Center;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    img{
        height: 30px;
        width: 30px;
    }
}
.HeaderButtonActive{
    background-color: #dadada;
}
.HeaderButtonActiveLine{
    background-color: green;
    height: 100%;
    width: 4px;
    border-radius: 10px 1px 1px 10px;
    position: absolute;
    right: 0
}
.HeaderBottom{
    @include Center;
    background-color: #dadada;
    box-shadow: 0 0 0 1px #dadada;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    img{
        height: 50px;
        width: 50px;
    }
}
/* Slidebar */
.Slidebar{
    padding: 20px;
    width: 260px;
}
.SlidebarTop{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    p{
        font-size: 24px;
        font-weight: 700;
    }
}
.SlidebarBack{
    height: 50px;
    width: 50px;
    background-color: #dadada;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 20px 0 0;
    img{
        height: 25px;
        width: 25px;
    }
}
.border{
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #dadada;
}
/* Slidebar NewMailButton */
.NewMailButton{
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 12px;
    background-color:rgb(90, 175, 87);
    color: #fff;
    margin: 20px 0 ;
}
.NewMailButtonImg{
    @include Center;
    height: 60px;
    width: 60px;
    img{
        height: 30px;
        width: 30px;
    }
    p{
        width: 100%;
    }
}

/* SlidebarInbox */
.SlidebarInboxButton{
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 12px;
    margin: 20px 0 ;
    /* background-color: #dadada; */
    position: relative;

}
.SlidebarInboxButton:hover{
    background-color: #dadada;
}
.SlidebarInboxLeft{
    @include Center;
    height: 50px;
    width: 50px;
    img{
        height: 25px;
        width: 25px;
    }
}
.SlidebarInboxCount{
    @include Center;
    background-color: red;
    color: #fff;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
}
/* Mail */
.Mail{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #f0eeee;
    width: 500px;
}
/* Search Box */
.SearchBox{
    display: flex;
    background-color: #e7e4e4;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    input{
        padding: 0 0 0 20px;
        font-size: 20px;
        width: 100%;
        height: 100%;
    }
}
.SearchButton{
    @include Center;
    min-height: 60px;
    min-width: 60px;
    min-height: 60px;
    min-width: 60px;
    img{
        height: 30px;
        width: 30px;
    }
}
